.user-menu .exp-time {
  font-size: .8rem;
  color: var(--bs-body-color);
}

.user-menu .extend-token-btn {
  font-size: .7rem;
  padding: 0 2px;
  border-radius: 4px;
}

.fade.show.popover.bs-popover-bottom {
  --bs-popover-zindex: 1054;
}