.review-container {
  border: 1px solid grey;
  color: grey;
  border-radius: 10px;
  padding: 20px;
}

.author {
  margin: 0 0 5px 0;
  font-size: 1rem;
}

.content{
  margin: 0 0 10px 0;
  font-size: .8rem;
}

.created_at{
  margin: 0 0 0 0;
  font-size: .8rem;
}

.more-button, .close-button {
  color: rgb(198, 17, 17);
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}