.session-timer {
  font-size: 0.8rem;
  color: var(--bs-navbar-hover-color);

  .timer-block {
    display: flex;
    flex-direction: row;

    .timer-title {
      width: 45px;
      white-space: nowrap;
    }

    .timer {
      width: 45px;
      text-align: end;
    }
  }

  .extend-btn {
    font-size: 0.7rem;
    padding: 0 2px;
  }
}
