.navbar .container-fluid {
  position: relative;
}

/* 브랜드 로고 */
.navbar .navbar-brand {
  cursor: pointer;
  color: var(--custom-primary);
}

/* 검색 */
.navbar .form-control,
.navbar .btn-primary {
  font-size: 0.8rem;
}

/* 햄버거 토글 */
.navbar .navbar-toggler,
.navbar .navbar-toggler.collapsed {
  border: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* 추가한 요소 */
.navbar .added-items {
  display: flex;
  align-items: center;
  height: 1.875rem;
  color: var(--bs-body-color);
  font-size: .8rem;
  position: absolute;
  right: 14rem;
}

.navbar .switch-control .form-check-input {
  border-color: var(--custom-primary);
}

/* 미디어 쿼리 */
@media (max-width: 62rem) {
  .navbar .added-items {
    position: absolute;
    top: .3rem;
    right: 4rem;
  }
}