.my-list .container-fluid {
  padding: 1.875rem;
}

.my-list .header {
  margin-bottom: 2rem;
  gap: 1rem;
}

.my-list .title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-list .title h2{
  margin: 0;
}

.my-list .contents {
  --bs-gutter-x: .5rem;
  --bs-gutter-y: .5rem;
}