// bootstrap Color system

// Blue
$blue-100: #cfe2ff;
$blue-200: #9ec5fe;
$blue-300: #6ea8fe;
$blue-400: #3d8bfd;
$blue-500: #0d6efd;
$blue-600: #0a58ca;
$blue-700: #084298;
$blue-800: #052c65;
$blue-900: #031633;

// Indigo
$indigo-100: #e0cffc;
$indigo-200: #c29ffa;
$indigo-300: #a370f7;
$indigo-400: #8540f5;
$indigo-500: #6610f2;
$indigo-600: #520dc2;
$indigo-700: #3d0a91;
$indigo-800: #290661;
$indigo-900: #140331;

// Purple
$purple-100: #e2d9f3;
$purple-200: #c5b3e6;
$purple-300: #a98eda;
$purple-400: #8c68cd;
$purple-500: #6f42c1;
$purple-600: #59359a;
$purple-700: #442874;
$purple-800: #2e1a4d;
$purple-900: #170d27;

// Pink
$pink-100: #fcd1e5;
$pink-200: #f9a3cb;
$pink-300: #f675b0;
$pink-400: #f34796;
$pink-500: #f63384;
$pink-600: #cc2977;
$pink-700: #991f5a;
$pink-800: #66143d;
$pink-900: #330a1f;

// Red
$red-100: #f8d7da;
$red-200: #f5c6cb;
$red-300: #f1b0b7;
$red-400: #ea868f;
$red-500: #e04f5f;
$red-600: #dc3545;
$red-700: #c82333;
$red-800: #bd2130;
$red-900: #b21f2d;

// Orange
$orange-100: #ffe5d0;
$orange-200: #ffcca2;
$orange-300: #ffb374;
$orange-400: #ff9945;
$orange-500: #fd7e14;
$orange-600: #ca6510;
$orange-700: #984c0c;
$orange-800: #653208;
$orange-900: #331904;

// Yellow
$yellow-100: #fff3cd;
$yellow-200: #ffe69c;
$yellow-300: #ffda6a;
$yellow-400: #ffcd39;
$yellow-500: #ffc107;
$yellow-600: #cc9a06;
$yellow-700: #997404;
$yellow-800: #664d03;
$yellow-900: #332701;

// Green
$green-100: #d1e7dd;
$green-200: #a3cfbb;
$green-300: #75b798;
$green-400: #479f76;
$green-500: #198754;
$green-600: #146c43;
$green-700: #0f5132;
$green-800: #0a3622;
$green-900: #051b11;

// Teal
$teal-100: #d2f4ea;
$teal-200: #a6e9d5;
$teal-300: #79dec0;
$teal-400: #4dd3aa;
$teal-500: #20c997;
$teal-600: #1aa379;
$teal-700: #137d5b;
$teal-800: #0d584c;
$teal-900: #062b24;

// Cyan
$cyan-100: #cff4fc;
$cyan-200: #9eeaf9;
$cyan-300: #6edff6;
$cyan-400: #3dd5f3;
$cyan-500: #0dcaf0;
$cyan-600: #0aa2c0;
$cyan-700: #086990;
$cyan-800: #054460;
$cyan-900: #021130;

// Black and White
$black: #000000;
$white: #ffffff;

// Gray
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
