.movie-card {
  height: 20.625rem;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0.625rem;
  border: .001rem solid var(--color-gray-600);
}

.movie-card:hover .overlay {
  opacity: 1;
}

.overlay {
  padding: 0.625rem;
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  word-break: break-all;
  overflow-wrap: break-word;
  position: relative;
  border-radius: 0.625rem;
}

.overlay .badge:not(:last-of-type) {
  margin-right: 0.1875rem;
}

.overlay h1 {
  font-size: 1.5rem;
  word-break: keep-all;
}

.movie-info {
  margin-top: 1.25rem;
  font-weight: 400;
  font-size: .8rem;
}

.vote-avg {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.625rem;
  transform: scale(2);
  position: absolute;
  right: 2.1875rem;
  bottom: 2.1875rem;
}


