.movie-card {
  padding: 4px;
}

.movie-card .img-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 150%;
}

.movie-card .img-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.overlay {
  padding: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  word-break: break-all;
  overflow-wrap: break-word;
  border-radius: 0.25rem;
  z-index: 10;
}

.overlay .badge:not(:last-of-type) {
  margin-right: 0.1875rem;
}

.overlay h1 {
  font-size: 1.5rem;
  word-break: keep-all;
}

.movie-info {
  margin-top: 1.25rem;
  font-weight: 400;
  font-size: .8rem;
}

.vote-avg {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.625rem;
  transform: scale(2);
  position: absolute;
  right: 2.1875rem;
  bottom: 2.1875rem;
}