.slide-box {
  margin-bottom: 10px;
  padding: 30px;
}

.slide-box h3 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.slide-box h3::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff0000cc;
  margin-bottom: 6px;
  border-radius: 1.5px;
}

.carousel-container {
  overflow: hidden;
  height: auto;
}