.banner {
  position: relative;
  color: white !important;
}

.banner__img-area {
  max-height: 21rem;
  overflow: hidden;
}

.banner__img-area::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@keyframes banner__img-moving {
  from {
    top: 0;
  }

  to {
    top: -40%;
  }
}

.banner__img {
  width: 100%;
  object-fit: cover;
}

.banner__content-area {
  width: 25rem;
  padding: 1.875rem;
  position: absolute;
  top: 0;
  z-index: 3;
}

.banner__content-area P {
  margin: 0;
  word-break: keep-all;
}

@media (max-width: 36rem) {
  .banner__img-area {
    height: 15rem;
  }

  .banner__img-area::before {
    display: none;
  }

  .banner__content-area {
    position: static;
    background-color: black;
  }

  .banner__content-area {
    width: 100%;
    z-index: 0;
  }
}

@media (min-width: 68.75rem) {
  .banner__img-area {
    height: 21rem;
  }

  .banner__img-moving {
    position: relative;
    z-index: -1;
    top: 0%;
    animation-name: banner__img-moving;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}