.banner {
  position: relative;
}

.banner__img-area {
  height: 56vh;
  overflow: hidden;
}

.banner__img-area::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@keyframes banner__img-moving {
  from {
    top: 0;
  }

  to {
    top: -40%;
  }
}

.banner__img {
  width: 100%;
  min-height: 56vh;
  object-fit: cover;
}

.banner__content-area {
  width: 400px;
  padding: 30px;
  position: absolute;
  top: 0;
  z-index: 3;
}

.banner__content-area P {
  margin: 0;
  word-break: keep-all;
}

@media (max-width: 464px) {
  .banner__img-area {
    height: 233px;
  }

  .banner__img-area::before {
    display: none;
  }

  .banner__img {
    min-height: 0;
    object-fit: cover;
  }

  .banner__content-area {
    position: static;
  }

  .banner__content-area {
    width: 100%;
    z-index: 0;
  }
}

@media (min-width: 1100px) {
  .banner__img-moving {
    position: relative;
    z-index: -1;
    top: 0%;
    animation-name: banner__img-moving;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

/* badge */
.banner__content-badge {
  width: 40px;
  height: auto;
  padding: 3px;
  margin-bottom: 4px;
  background-color: var(--custom-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content-badge h6 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}