.banner {
  position: relative;
}

.banner-img-box {
  height: 56vh;
}

.banner-img {
  height: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%
}

.banner-text-area {
  width: 400px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; */
  padding: 30px;
  position: absolute;
  top: 0;
}

.banner-text-area>* {
  z-index: 2;
}

.banner-text-area P {
  margin: 0;
}

@media (max-width: 464px) {
  .banner-img-box {
    height: 233px;
  }

  .banner-img {
    background-size: cover;
  }

  .banner-img::before {
    height: 233px;
  }

  .banner-text-area {
    position: static;
  }

  .banner-text-area {
    width: 100%;
  }

  .banner-text-area>* {
    z-index: 0;
  }
}

.movie-info {
  margin-top: 10px;
  cursor: pointer;
}

.top1-badge {
  width: 40px;
  height: auto;
  padding: 3px;
  margin-bottom: 4px;
  background-color: #ff0000cc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top1-badge h6 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}

.top1-badge h6:first-child {
  /* font-size: 20px; */
}