.paginator .pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.paginator .page-link {
  transition: all 0.25s;
  padding: 0.3rem 0.6rem;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  background-color: transparent;
  color: var(--color-gray-600);
  border-color: var(--color-gray-600);
}

.paginator .page-link.active {
  background-color: transparent;
  border-color: var(--custom-primary);
  color: var(--custom-primary);
}

.paginator .page-link:hover {
  background-color: var(--custom-primary);
  border-color: var(--custom-primary);
  color: white
}

.paginator .page-link:focus {
  box-shadow: none;
}

.paginator .disabled .page-link {
  cursor: none;
  pointer-events: none;
  background-color: transparent;
  color: var(--color-gray-600);
  border-color: var(--color-gray-600);
}
