.movie-page .container-fluid {
  padding: 1.875rem;
}

.movie-page .header {
  margin-bottom: 2rem;
  gap: 1rem;
}

.movie-page .title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-page .title h2{
  margin: 0;
}

.movie-page .contents {
  --bs-gutter-x: .5rem;
  --bs-gutter-y: .5rem;
}