.navbar .container-fluid {
  position: relative;
}

/* 브랜드 로고 */
.navbar .navbar-brand {
  cursor: pointer;
  color: var(--custom-primary);
}

/* 검색 입력창 */
.navbar .form-control {
  font-size: 0.8rem;
}

/* 검색 버튼 */
.navbar .btn.btn-primary {
  margin-left: .3rem;
  font-size: 0.8rem;
}

/* 햄버거 토글 */
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* 추가한 요소 */
.navbar .added-item {
  display: flex;
  height: 1.875rem;
  align-items: center;
  margin: 0 1rem 0 0;
  position: absolute;
  top: 0.8rem;
  right: 13.4rem;
}

/* 미디어 쿼리 */
@media (max-width: 62rem) {
  .navbar .added-item {
    position: absolute;
    right: 3rem;
  }
}