.movie-page .container-fluid {
  padding: 1.875Rem;
}

.movie-page__header {
  margin-bottom: 2rem;
  gap: 1rem;
}

.movie-page .page-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-page .page-name h2{
  margin: 0;
}

.movie-page__genre .genre {
  padding: 1rem;
  text-align: center;
}

.movie-page__contents.row {
  --bs-gutter-x: .5rem;
  --bs-gutter-y: .5rem;
}