/* 추가한 요소 1 - 로그인 버튼 */
.user_menu .btn.login-btn {
  background-color: transparent;
  border: none;
  font-size: .8rem;
  color: var(--bs-body-color);
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.user_menu .btn.login-btn:hover {
  color: var(--custom-primary);
  background-color: transparent;
}

.user_menu .exp-time {
  font-size: .8rem;
  color: var(--bs-body-color);
}

.user_menu .extend-token-btn {
  font-size: .7rem;
  padding: 0 2px;
  border-radius: 4px;
}

.fade.show.popover.bs-popover-bottom {
  --bs-popover-zindex: 1054;
}