[data-bs-theme="dark"] {
  --body-bg-color: var(--color-gray-900);
  --body-text-color: var(--color-white);
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}


/* 공통 적용 */
.btn.btn-primary {
  white-space: nowrap;
  color: white;
}

.btn.btn-primary:hover {
  color: white;
}

.btn.btn-primary:active {
  color: white;
}

.btn.btn-outline-primary:hover {
  color: white;
}

.btn.btn-outline-primary:active {
  color: white;
}

.pointer {
  cursor: pointer;
}