.navbar .container-fluid {
  position: relative;
}

/* 브랜드 로고 */
.navbar .navbar-brand {
  cursor: pointer;
  color: var(--custom-primary);
}

/* 검색 버튼 */
.navbar .btn.btn-primary {
  margin-left: .3rem;
}

/* 햄버거 토글 */
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* theme 컬러 모드 토글 */
.navbar .fom-group {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 0;
  position: absolute;
  top: 1rem;
  right: 16.5rem;
}

.navbar .form-label {
  margin: 0;
  font-size: .9rem;
  color: var(--color-gray-500);
  margin: 0 .5rem 0 0;
}

.navbar .form-check-input {
  border-color: var(--custom-primary);
}

/* 미디어 쿼리 */
@media (max-width: 62rem) {
  .navbar .fom-group {
    position: absolute;
    right: 3rem;
  }
}