body {
  background-color: var(--bs-body-bg-light);
  color: var(--bs-body-text-light);
}

[data-bs-theme="dark"] body {
  background-color: var(--bs-body-bg-dark);
  color: var(--bs-body-text-dark);
}