.navbar .navbar-brand {
  cursor: pointer;
  color: var(--custom-primary);
}

.navbar .d-flex {
  /* margin-left: .6rem; */
}

.navbar .btn.btn-primary {
  white-space : nowrap;
  color: white;
  margin-left: .3rem;
}
.navbar .btn.btn-primary:active {
  color: white;
}